body {
	background-color: #4C494F;
	position: relative;
}

p {
	margin-bottom: 0;
}

.header {
	width: 100%;
	padding-top: 36px;
	position: fixed;
	z-index: 5;
}

.header .site-name {
	margin-left: 40px;
}

.header .about-link {
	margin-right: 40px;
}

.header .about-link a {
	padding-bottom: 2px;
	border-bottom: solid 1px white;
}

.header .about-link a:hover {
	padding-bottom: 4px;
	color: white;
}

.coffee-run-form {
	background-color: #F7F7F7;
	border-radius: 2px;
	padding: 26px 20px;
	-webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
}

.coffee-run-timer {
	margin-top: 46px;
}

.form-instruction {
	margin-top: 41px;
}

.actual-form {
	width: 100%;
}

.input-field {
	width: 100%;
	float: left;
	position: relative;
}

.input-field label {
	position: absolute;
	top: 26px;
}

.input-field input[type="text"] {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	padding-left: 160px;
	padding-top: 12px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	border-bottom: dashed 1px #D8D8D8;
	font-size: 22px;
	font-family: 'MaisonNeueBook';
	color: #253DD3;
	margin: 22px 0 0 0;
}

.submit-button button {
	width: 100%;
	height: 70px;
	background-color: transparent;
	border: solid 3px #253DD3;
	margin: 50px 0 0 0;
}

.submit-button button:hover {
	color: white;
	background-color: #253DD3;
}

.expansion-link {
	width: 100%;
	margin-top: 18px;
}

.expansion-link a {
	padding-bottom: 2px;
	border-bottom: solid 1px #253DD3;
}

.expansion-link a:hover {
	padding-bottom: 4px;
	color: #253DD3;
}

.ordering-list {
	margin-top: 20px;
	padding-top: 36px;
}

.people-list {
	margin: 30px 0;
}

.timesup {
	padding-top: 200px;
}

.timesup h1 {
	margin-bottom: 0;
}

.timesup img {
	margin-top: 30px;
}

.about-text {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-text a {
	color: white;
	background-color: #253DD3;
	padding: 2px;
}

.about-text a:hover {
	background-color: transparent;
}

.padding-top {
	padding-top: 50px;
}