@font-face {
    font-family: 'MaisonNeueBook';
    src: url('../fonts/maisonneuebook.ttf') format('truetype');
}
@font-face {
    font-family: 'MaisonNeueBookItalic';
    src: url('../fonts/maisonneuebookitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MaisonNeueBold';
    src: url('../fonts/maisonneuebold.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'MaisonNeueBoldItalic';
    src: url('../fonts/maisonneuebolditalic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'MaisonNeueMono';
    src: url('../fonts/maisonneuemono.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'MaisonNeueMonoItalic';
    src: url('../fonts/maisonneuemonoitalic.ttf') format('truetype');
    font-weight: normal;
}

/* typeface classes */
.font-book {
    font-family: "MaisonNeueBook", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-book-italic {
    font-family: "MaisonNeueBookItalic", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-bold {
    font-family: "MaisonNeueBold", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-bold-italic {
    font-family: "MaisonNeueBoldItalic", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-mono {
    font-family: "MaisonNeueMono", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}
.font-mono-italic {
    font-family: "MaisonNeueMonoItalic", "Helvetica Neue", "Helvetica" ,Helvetica, Arial, sans-serif;
}

/* font sizes */
.fs14 {
    font-size: 0.875em;
}

.fs22 {
    font-size: 1.375em;
}

.fs36 {
    font-size: 2.25em;
}

/* line height */
.lh120 {
    line-height: 120%;
}

.lh30 {
    line-height: 136%;
}

.lh40 {
    line-height: 111%;
}