<header class="row show-for-small text-center mobile-header">
  <p class="font-book white-color fs14">Cong &amp; Friends Coffee Run</p>
</header>
<header class="header hide-for-small">
  <div class="site-name left">
    <p class="font-book white-color fs14">Cong &amp; Friends Coffee Run</p>
  </div>
  <div class="about-link right">
    <a class="font-book white-color fs14" href="about.html">About</a>
  </div>
</header>
