<div class="row text-center about-text">
  <div class="medium-11 large-10 columns">
    <p class="font-book white-color fs36 text-left lh150">
      Coffee Run is a hack project by <a href="http://congphamdesign.com" target="_blank">Cong</a> and <a href="https://github.com/nnluukhtn" target="_blank">Luu</a> in order to explore the possibility of Slack as a platform to connect and interact with users and intelligent bot. Source code is available <a href="https://github.com/nnluukhtn/coffee_run" target="_blank">here</a>. Design is available <a href="" target="_blank">here</a>.
      <br/><br/>
      The site was typesetted in <a href="https://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a> &amp; <a href="https://www.google.com/fonts/specimen/Roboto+Mono" target="_blank">Roboto Mono</a>.
    </p>
  </div>
</div>
