<% if @running_time > 0 %>
<% elsif @orderers.count > 0 %>
  <div class="row runned-list">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns coffee-run-form ordering-list">
      <p class="font-book fs22 secondary-color lh150"><span class="font-bold primary-color ordered-people"><%= @orderers.count %></span> people have placed their orders.</p><span class="ordering-people" style="display: none"><br/><span class="font-bold primary-color"></span> people are still ordering.</span></p>

      <div class="people-list">
        <% @orderers.each do |orderer| %>
          <p class="font-book fs22 secondary-color"><span class="primary-color"><%= orderer.name %></span> is getting a <span class="primary-color"><%= orderer.beverage %></span>.</p>
        <% end %>
      </div>
    </div>

    <p class="font-book fs22 secondary-color ordering-detail" style="display: none">You and <span class="font-bold primary-color"></span> are struggling with decision making.</p>
  </div>
<% else %>
  <div class="row text-center timesup runned-list">
    <h1 class="font-bold white-color">No one ordered anything!</h1>
    <p class="font-book white-color fs22">We know you're sad, below are the steps you should consider taking.</p>
    <%= image_tag("cry.jpg") %>
  </div>
<% end %>
