body {
	background-color: #4C494F;
	height: 100%;
	position: relative;
}

p {
	margin-bottom: 0;
}

a:focus {
	color: #253DD3;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.header {
	width: 100%;
	padding-top: 36px;
	position: fixed;
	z-index: 5;
}

.header .site-name {
	margin-left: 40px;
}

.header .about-link {
	margin-right: 40px;
}

.header .about-link a {
	padding-bottom: 2px;
	border-bottom: solid 1px white;
}

.header .about-link a:hover {
	padding-bottom: 4px;
	color: white;
}

.coffee-run-form {
	background-color: #F7F7F7;
	border-radius: 2px;
	padding: 26px 20px;
	-webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
}

.coffee-run-timer {
	margin-top: 46px;
}

.form-instruction {
	margin-top: 41px;
}

.actual-form {
	width: 100%;
	margin-top: 16px;
}

.input-field {
	width: 100%;
	float: left;
	position: relative;
}

.input-field label {
	position: absolute;
	top: 23px;
}

.input-field input[type="text"] {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	padding-left: 160px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	border-bottom: dashed 1px #D8D8D8;
	font-size: 22px;
	font-family: 'Open Sans';
	line-height: 29px;
	color: #253DD3;
	margin: 22px 0 0 0;
}

.input-field input[type="text"]:focus:invalid {
	border-bottom: dashed 1px red;
}

.input-field .warning {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-image: image-url('warning-icon.svg');
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -290px;
	margin-top: 3px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.15);
	cursor: pointer;
}

.input-field .validation-text {
	width: 254px;
	padding: 20px;
	background-color: white;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -560px;
	margin-top: 3px;

	-webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

.input-field .validation-text::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 10px solid white;
	border-right: 10px solid transparent;
	position: absolute;
	top: 10px;
	right: -10px;
}

.submit-button button {
	width: 100%;
	height: 70px;
	background-color: transparent;
	border: solid 3px #253DD3;
	margin: 30px 0 0 0;
	z-index: 2;
}

.submit-button button .progress-bar.background-horizontal {
	height: 100%;
}

.submit-button button .progress-bar {
	background-color: #253DD3;
	bottom: 0;
	left: 0;
	width: 0;
	position: absolute;
	z-index: 1;
	transition: width 0.5s, height 0.5s;
}

.submit-button button:hover {
	color: white;
	background-color: #253DD3;
}

.submit-button button:focus {
  color: #253DD3;
	background-color: transparent;
}

.expansion-link {
	width: 100%;
	margin-top: 18px;
}

.expansion-link a {
	padding-bottom: 2px;
	border-bottom: solid 1px #253DD3;
}

.expansion-link a:hover {
	padding-bottom: 4px;
	color: #253DD3;
}

.ordering-list {
	margin-top: 20px;
	padding-top: 36px;
}

.people-list {
	margin: 30px 0;
}

.timesup h1 {
	margin-bottom: 0;
}

.timesup h1.error {
	font-size: 2.75rem;
}

.timesup img {
	margin-top: 30px;
}

.about-text {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-text a {
	color: white;
	background-color: #253DD3;
	padding: 2px;
}

.about-text a:hover {
	background-color: transparent;
}

.padding-top {
	padding-top: 80px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 20px;
	left: 0;
	right: 0;
	z-index: -1;
	text-align: center;
}

.running-list {
	-webkit-transform: perspective(500px) rotateX(-.25turn);
	-moz-transform: perspective(500px) rotateX(-.25turn);
	transform: perspective(500px) rotateX(-.25turn);

	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;

	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
}

.shake {
	-webkit-animation: shakeAnimation 0.4s;
	-moz-animation: shakeAnimation 0.4s;
	animation: shakeAnimation 0.4s;
}


@-webkit-keyframes shakeAnimation {
	0% {
		-webkit-transform: translateX(0px);
	}

	12.5% {
		-webkit-transform: translateX(-10px) rotateY(-5deg);
	}

	37.5% {
		-webkit-transform: translateX(8px) rotateY(4deg);
	}

	62.5% {
		-webkit-transform: translateX(-6px) rotateY(-2deg);
	}

	87.5% {
		-webkit-transform: translateX(4px) rotateY(1deg);
	}

	100% {
		-webkit-transform: translateX(0px);
	}
}

@-moz-keyframes shakeAnimation {
	0% {
		-moz-transform: translateX(0px);
	}

	12.5% {
		-moz-transform: translateX(-10px) rotateY(-5deg);
	}

	37.5% {
		-moz-transform: translateX(8px) rotateY(4deg);
	}

	62.5% {
		-moz-transform: translateX(-6px) rotateY(-2deg);
	}

	87.5% {
		-moz-transform: translateX(4px) rotateY(1deg);
	}

	100% {
		-moz-transform: translateX(0px);
	}
}

@keyframes shakeAnimation {
	0% {
		transform: translateX(0px);
	}

	12.5% {
		transform: translateX(-10px) rotateY(-5deg);
	}

	37.5% {
		transform: translateX(8px) rotateY(4deg);
	}

	62.5% {
		transform: translateX(-6px) rotateY(-2deg);
	}

	87.5% {
		transform: translateX(4px) rotateY(1deg);
	}

	100% {
		transform: translateX(0px);
	}
}

.running-list.active {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

// .hidden-margin {
// 	width: 100%;
// 	height: 0;
// 	margin-bottom: 120px;
// }

#main-section {
	height: 100%;
	padding-top: 120px;
}

#order-form {
  transition: all 0.5s cubic-bezier(.53,0,1,-0.54);
	opacity: 1;
}

#order-form.submitted {
	visibility: hidden;
	margin-top: -100%;
}

#order-form.sending {
	opacity: 0.2;
}

.running-list,.runned-list {
	margin-bottom: 100px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	body {
		padding: 0 6px;
	}

	#main-section {
		padding-top: 31px;
	}

	.mobile-header {
		margin-top: 30px;
	}

	.padding-top {
		padding-top: 21px;
	}

	.fs22 {
		font-size: 1em;
	}

	.coffee-run-form {
		padding: 26px 20px 16px;
		box-shadow: none;
	}

	.coffee-run-timer {
		margin-top: 24px;
	}

	.actual-form {
		margin-top: 0;
	}

	.input-field label {
		top: 26px;
	}

	.input-field input[type="text"] {
		padding-left: 36.5%;
		padding-top: 4px;
		font-size: 16px;
	}

	.input-field .warning {
		left: auto;
		right: 0;
		top: 23px;
		margin-left: 0;
		box-shadow: none;
	}

	.submit-button button {
		height: 50px;
		line-height: 0;
	}

	.expansion-link {
		margin-top: 10px;
	}

	// .hidden-margin {
	// 	margin-bottom: 60px;
	// }
}
